<!DOCTYPE html>
<html>
  <head>
    <title>History Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Вся существующая информация:</h2>
    <div>
        <table style="width: 35%">
            <tr>
                <th>Температура<th>
                <th>Загрязненность<th>
                <th>Широта<th>
                <th>Долгота<th>
                <th>Время создания<th>
                <% values.forEach(v => { %>
                    <tr style="text-align: center">
                        <td> <%= v.temp %> C<td>
                        <td> <%= v.tds %> ppm<td>
                        <td> <%= v.lat %><td>
                        <td> <%= v.lng %><td>
                        <td> <%= v.timestamp %><td>
                    </tr>
                <% }) %>
            </tr>
        </table>
    </div>
  </body>
</html>
