<!DOCTYPE html>
<html>
  <head>
    <title>Sensor Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Последняя информация</h1>
    <div id="tds-meter">Загрязненность: <%= tds %> % (<%= tdsraw %> ppm)</div>
    <div id="temperature">Температура: <%= temp %> C</div>
    <div id="latitude">Широта: <%= lat %></div>
    <div id="longitude">Долгота: <%= lng %></div>
  </body>
</html>
